* {
  color: white !important;
  background-color: #141414 !important;
}

/* html{
  overflow-x: hidden
}
 */

header {
  margin-left: -0.65rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

header a,
footer,
a,
.profilo {
  color: gray !important;
}

header a:hover,
footer a:hover,
a:hover {
  color: white !important;
  transform: scale(1.01);
}

#floatingSelect {
  width: 6rem;
}

.carousel-inner {
  scroll-behavior: smooth;

}

.carousel-item a {
  margin: 0 1rem 0 0;
}

.carousel-item img {
  width: 15rem;
}


.carousel-item a:last-of-type {
  margin-right: 0;
}

.carousel-item a:hover,
.carousel-item img:hover {
  z-index: 1;
  transform: scale(1.01);
}
.grigliaFilm button{
  width: 7rem;
}

a {
  text-decoration: none !important;
  margin-right: 0.8rem;
  color: gray !important;
}

footer {
  flex-direction: column;
}

footer a svg {
  width: 1.5rem;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-top: 0.7rem;
}

footer ul li {
  margin-bottom: 0.4rem;
  color: gray !important;
}

footer ul li button,
.profile-page button,
.account-page button {
  color: gray !important;
  margin-top: 0.4rem;
}

footer ul li button:hover,
.profile-page button:hover,
.account-page button:hover {
  background-color: rgb(149, 145, 145) !important;
  color: white !important;
}